@font-face {
  font-family: myFirstFont;
  src: url(RubikDirt-Regular.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.artwork{
  width: 128px;
  height: 153px;
  margin-right: 7px;
  border-radius: 8px;
}

.imgContainer{
  width: 337px;
  height: 336px;
  contain: content;
  border-radius: 50%;
  margin: 16px;
}
.containerPlaylist{
  height: 486px;
  width: 394px;
  border: 2px solid gray;
  margin-top: 13px;

}


.card {
  margin: 30px auto;
  width: 1071px;
  height: 766px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);

}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image .background {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.card .card_title {
  text-align: left;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  margin-top: -726px;
  margin-left: 89px;
  height: 40px;
  color: white;
}

.link{
  text-decoration: none;
    font-family: monospace;
    color: white;
    font-size: large;
}

h1{
  font-family: myFirstFont;
  color: #a9ff99;
  font-size: 137px;
  inline-size: 1px;
  font-synthesis: none;
  margin-top: -1px;
}

.scroll {
  margin-top: 366px;
  margin-left: 89px;
  display: block;
  display: flex;
  width: 585px;
  height: 245px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
}

.song {
  display: inline-block;
    width: 128px;
    height: 152px;
    margin: 0 5px;
    border-radius: 8px;
    box-shadow: -4px 4px 6px 0px #0000008a;
    cursor: pointer;
    transition:  0.3s ;
}
.song:hover {
  transform: translateY(-30px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px gray;
}

.player{
  margin-top: -551px;
  margin-left: 764px;
  width: 220px;
  color: azure;
  font-family: monospace;
}
.artworkS{
    height: 320px;
    width: 220px;
    border-radius: 8px;
    box-shadow: -4px 4px 6px 0px #0000008a;
    cursor: pointer;

}
audio::-webkit-media-controls-panel{
  background-color:rgb(193, 230, 166);
}
audio{
  width: 200px;
  height: 23px;
}
form{
    display: flex;
    margin-top: 371px;
    margin-left: 90px;
    gap: 10px;
    flex-wrap: wrap;
    width: 708px;
}
.input-container{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: monospace;
  font-size: xx-large;
  font-weight: 600;
}
.App-link {
  color: #61dafb;
}
.input-container input{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}

.submit-container input{
  border: 1px solid rgba(0,0,0,.2);
  height: 38px;
  line-height: 39px;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: burlywood;
  color: white;
  cursor: pointer;
}


